#MainWidget {
  background-color: #bdbdbd;
}

#Browse {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Webdings";
  font: 15px;
}

QToolButton {
  color: #212529;
  font-weight: bold;
}

QToolButton#blueButton {
  background-color: #0d6efd;
}

QToolButton#greenButton {
  background-color: #2ad66b;
}

QToolButton#yellowButton {
  background-color: #ffc107;
}

QToolButton#redButton {
  background-color: #ef3e4f;
}

QToolButton#greyButton {
  background-color: #6c757d;
}

QToolButton#statusOn {
  background-color: #2f3236;
  color: #f8f8f8;
  font-weight: bold;
}

QToolButton#statusOff {
  background-color: #2f3236;
  color: #2f3236;
  font-weight: bold;
}

QCheckBox {
  color: #212529;
}

QComboBox {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}

QLineEdit {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}

QLineEdit:focus {
  border: 1px outset #25b4ee;
}

QLineEdit#off {
  border: 1px solid #6c757d;
}

QLineEdit#ok {
  border: 1px solid #2ad66b;
}

QLineEdit#warning {
  border: 1px solid #ffc107;
}

QLineEdit#error {
  border: 1px solid #ef3e4f;
}

QLabel {
  background-color: transparent;
  color: #212529;
  font-weight: bold;
}

QLabel#statusNeutral {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
}

QLabel#statusOk {
  background-color: #2ad66b;
  border: 1px solid #2ad66b;
  border-radius: 3px;
}

QLabel#statusWarning {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 3px;
}

QLabel#statusError {
  background-color: #ef3e4f;
  border: 1px solid #ef3e4f;
  border-radius: 3px;
}

QProgressBar {
  font-weight: bold;
}

QListWidget {
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}

QTextBrowser{
  background-color: #2f3236;
  border: 1px solid #6c757d;
  border-radius: 3px;
}