#MainWidget {
  background-color: #bdbdbd;
  /* font-family: "Segoe UI";
  font: 12px; */
}

#Browse {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
  font-family: "Webdings";
  font: 15px;
  max-width: 22px;
  min-width: 22px;
  max-height: 22px;
  min-height: 22px;
}

QToolButton {
  color: #212529;
  font-weight: bold;
}

QToolButton#blueButton {
  background-color: #0d6efd;
}

QToolButton#greenButton {
  background-color: #2ad66b;
}

QToolButton#yellowButton {
  background-color: #ffc107;
}

QToolButton#redButton {
  background-color: #ef3e4f;
}

QToolButton#greyButton {
  background-color: #6c757d;
}

#Check {
  color: #212529;
  max-height: 22px;
  min-height: 22px;
}

#CompleterPopup {
  border: 1px outset #22b4ee;
  color: #212529;
  border-radius: 3px;
}

#StatusBigDisabled {
  background-color: #212529;
  color: #212529;
  border-radius: 3px;
  font-weight: bold;
  max-height: 22px;
  min-height: 22px;
  width: 600px;
}

#StatusBigEnabled {
  background-color: #212529;
  color: #f8f8f8;
  border-radius: 3px;
  font-weight: bold;
  max-height: 22px;
  min-height: 22px;
  width: 600px;
}

#StatusSmallOffline {
  background-color: #ef3e4f;
  color: #212529;
  border-radius: 3px;
  font-weight: bold;
  max-height: 22px;
  min-height: 22px;
  width: 70px;
}

#StatusSmallIdle {
  background-color: #ffc107;
  color: #212529;
  border-radius: 3px;
  font-weight: bold;
  max-height: 22px;
  min-height: 22px;
  width: 70px;
}

#StatusSmallRunning,
#StatusSmallOnline {
  background-color: #2ad66b;
  color: #212529;
  border-radius: 3px;
  font-weight: bold;
  max-height: 22px;
  min-height: 22px;
  width: 70px;
}

QComboBox {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}

QLineEdit {
  background-color: #f8f8f8;
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}

QLineEdit:focus {
  border: 1px outset #25b4ee;
}

QLineEdit#off {
  border: 1px solid #6c757d;
}

QLineEdit#ok {
  border: 1px solid #2ad66b;
}

QLineEdit#warning {
  border: 1px solid #ffc107;
}

QLineEdit#error {
  border: 1px solid #ef3e4f;
}

QLabel {
  background-color: transparent;
  color: #212529;
  font-weight: bold;
}

#ProgressBar {
  font-weight: bold;
  max-height: 20px;
  min-height: 20px;
}

#ProgressBarFinished {
  font-weight: bold;
  max-height: 20px;
  min-height: 20px;
}

#ProgressBarFinished::chunk {
  background-color: #2ad66b;
}

QListWidget {
  border: 1px solid #6c757d;
  color: #212529;
  border-radius: 3px;
}
